.Stopwatch{
    margin:0 auto;
    width:280px;
    height:420px;
    padding-top: 30px;
    background-color:rgb(4, 4, 24);
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 2px 2px 50px grey;
   
}
.m{
    margin-left:13px;
}
.time{
    text-align: center;
    
    border:2px solid skyblue;
    border-radius: 55%;
    height:145px;
    width:180px;
    margin-left: 50px;
    padding-top: 30px;
    box-shadow: 0px 0px 12px skyblue;
}
h2{
    display: inline-block;
    color:whitesmoke;
    margin: 0;
    padding-top: 40px;
    
    margin-left: 2px;

    width:10px;
    
  
    
}

p{
    
    text-align: center;
    color: whitesmoke;
    padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h p{
    display: inline-block;
    padding:0;
    margin:0;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    
}
button{
    outline: none;

    box-shadow: 0px 0px 12px skyblue;
    margin-top: 100px;
    margin-left: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding:10px;
    width:50px;
    background-color:transparent;
    color:skyblue;
    border:solid 2px skyblue
}
body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/861/409/209/time-background-watch-wallpaper-preview.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    height:auto;
    width:100%
}